.personal-card {
  display: inline-block;
  background-color: #0d3349;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  position: relative;
  &__wrapper {
    margin: 0 auto;
    max-width: 59%;
    @media (min-width: 1900px) {
      max-width: 66%;
    }
  }
}

.personal-card--one {
  display: block;
  background-image: url("../img/2_CHARS_bg_Isolda.jpg");
  padding-bottom: 20px;
}

.personal-card--two {
  display: block;
  background-image: url("../img/2_CHARS_bg_Pamela.jpg");
  padding-bottom: 56px;
}

.personal-card--three {
  display: block;
  background-image: url("../img/2_CHARS_bg_Lleyn.jpg");
  padding-bottom: 56px;
}



.pers-card-logo {
  width: auto;
  display: flex;
  &__img-container {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: row;
    margin-top: 5px;
    margin: 0 auto;
    img {
      max-width: 100%;
      width: auto;
      height: auto;
      display: block;
      margin: 0 auto;
    }
  }
}

.personal-info-block {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: row;
  margin-top: 5px;
  &__wrapper {
    width: 50%;
    text-align: left;
    @media (min-width: 1900px) {
      width: 40%;
    }
  }
  &__img-container {
    width: auto;
    height: 132px;
    margin-top: -40px;
    img {
      max-width: 100%;
      width: auto !important;
      height: auto;
      display: block;
    }
  }
}

.pers-class-text {
  font-size: 21px;
  color: rgb(255, 50, 58);
  line-height: 1.333;
  text-align: left;
  text-shadow: 0 5px 30px rgba(35, 27, 32, 0.004);
  position: relative;
  padding-left: 46px;

  &:before {
    content: "";
    width: 30px;
    height: 30px;
    background-image: url("../img/2_CHARS_fraction_Isolda.png");
    position: absolute;
    background-repeat: no-repeat;
    left: 0;
  }
}

.pers-class-text--purple {
  color: rgb(202, 134, 255);
  &:before {
    content: "";
    width: 30px;
    height: 30px;
    background-image: url("../img/2_CHARS_fraction_Pamela.png");
    position: absolute;
    background-repeat: no-repeat;
    left: 0;
  }
}

.pers-class-text--yellow {
  color: rgb(255, 196, 25);
  &:before {
    content: "";
    width: 30px;
    height: 30px;
    background-image: url("../img/2_CHARS_fraction_Lleyn.png");
    position: absolute;
    background-repeat: no-repeat;
    left: 0;
  }
}

.pers-class-block {
  padding-left: 43px;
  padding-right: 43px;
}

#owl-demo .item img{
  display: block;
  width: 100%;
  height: auto;
}